{% extends 'base.html' %}

{% load static %}

{% block body%}

<h1> Offence Details</h1>
//how to write a full personal details  form  in html?

<form id="mail_form">
    <input type="text" name="subject" id="subject"/>
    <textarea name="message" id="message"></textarea>
    <input type="submit" name="submit" id="submit" value="Send"/>
</form>


<form id="mail_form">
    <label for="subject">Subject:</label>
    <input type="text" name="subject" id="subject"/>

    <label for="message">Message:</label>
    <textarea name="message" id="message"></textarea>

    <input type="submit" name="submit" id="submit" value="Send"/>
</form>


<form id="mail_form">
    <fieldset class="message">
        <label for="subject">Subject:</label>
        <input type="text" name="subject" id="subject"/>

        <label for="message">Message:</label>
        <textarea name="message" id="message"></textarea>
    </fieldset>

    <fieldset class="submitReset">
        <input type="submit" name="submit" id="submit" value="Send"/>
    </fieldset>
</form>


<form id="mail_form" action="http://path.to.server-side-script.com/script.php" method="post" <!-- or 'get' -->>



specialchars(strip_tags($_GET["id"])) -->
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								








{% endblock body %}
























